:root{
    --size: 100px;
}

.card-pile{
    position: absolute;
    left: 0px;
    background-color: transparent;
    width: var(--size);
    margin: 0;
    border-radius: 10px;
}

img{
    width: var(--size);
}

body{
    background-color: rgb(1, 77, 1);
}

.game{
    position: relative;
    text-align: center;
    margin: 0 auto;
    background-color: pink;
}

.playing-cards{
    position: absolute;
    top: 150px;
    margin: 0 auto;
}

.completed-pile{
    position: absolute;
    margin: 0 auto;
    z-index: 1000;
    background-color: white;
    border-radius: 10px;
}

.empty-space{
    position: absolute;
    background-color: orange;
    z-index: -1;
    margin: 0 auto;
    border-radius: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: white;
}

@media screen and ((max-width: 830px) or (max-height: 440px)) {
    :root{
        --size: 70px;
    }

    body{
        background-color: rgb(77, 1, 1);
    }
}